@use '@fem-aec/tokens/dist/scss/mixins' as *;
@use '@fem-aec/tokens/dist/scss/tokens' as *;

@use 'mixins' as *;

body {
  background-color: var(--fem-color-background-primary);
  color: var(--fem-color-text-primary);

  @extend %fem-text-body-100;
}

img {
  max-width: 100%;
}

main {
  margin: auto;
  padding: 0 2.4rem;

  @include for-tablet-up {
    padding: 0 4rem;
  }

  @include for-desktop-up {
    max-width: 1110px;
    padding: 0;
  }
}
