@use '@fem-aec/tokens/dist/scss/mixins' as *;
@use '@fem-aec/tokens/dist/scss/tokens' as *;
@use '@/assets/styles/mixins' as *;

.button {
  &__primary {
    background-color: var(--fem-color-background-button-primary-rest);
    box-shadow: inset 0 0 0 2px var(--fem-color-border-button-primary-rest);
    color: var(--fem-color-text-button-primary-rest);
    display: inline-block;
    padding: 1.5rem 3rem;
    text-align: center;
    text-transform: uppercase;

    @extend %fem-text-button-primary;
    @extend %color-animation;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--fem-color-border-button-primary-focus);
    }

    &:is(:hover, :focus) {
      background-color: var(--fem-color-background-button-primary-active);
      box-shadow: none;
    }
  }

  &__primary--inverse {
    &:is(:hover, :focus) {
      box-shadow: inset 0 0 0 2px
        var(--fem-color-border-button-primary-inverse-focus);
    }
  }

  &__secondary {
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    color: var(--fem-color-text-button-secondary-rest);
    box-shadow: inset 0 0 0 1px var(--fem-color-border-button-secondary-rest);

    @extend %fem-text-button-secondary;
    @extend %color-animation;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--fem-color-border-button-secondary-focus);
    }

    &:is(:hover, :focus) {
      background-color: var(--fem-color-background-button-secondary-active);
      color: var(--fem-color-text-button-secondary-focus);
    }
  }

  &__secondary--inverse {
    background-color: var(--fem-color-background-button-secondary-active);
    color: var(--fem-color-text-button-secondary-focus);

    &:is(:hover, :focus) {
      background-color: var(
        --fem-color-background-button-secondary-inverse-focus
      );
    }
  }

  &__tertiary {
    background-color: var(--fem-color-background-button-tertiary-rest);
    color: var(--fem-color-text-button-tertiary-rest);
    box-shadow: inset 0 0 0 2px var(--fem-color-background-button-tertiary-rest);

    @extend %fem-text-button-tertiary;
    @extend %color-animation;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--fem-color-border-button-tertiary-focus);
    }

    &:is(:hover, :focus) {
      color: var(--fem-color-text-button-tertiary-active);
    }
  }

  &__go-back {
    color: var(--fem-color-text-primary);
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 16px;

    @include for-tablet-up {
      margin-top: 33px;
    }

    @include for-desktop-up {
      margin-top: 80px;
    }
  }
}
